@page
@model RegisterModel
@{
    ViewData["Title"] = "Criar Conta";
}

<div class="register-container">
    <div class="register-title">Criar Conta</div>
    <form class="register-form" id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
        <div>
            <label asp-for="Input.Email"></label>
            <input asp-for="Input.Email" type="email" autocomplete="username" aria-required="true" />
            <span asp-validation-for="Input.Email" class="text-danger"></span>
        </div>
        <div>
            <label asp-for="Input.Password"></label>
            <input asp-for="Input.Password" type="password" autocomplete="new-password" aria-required="true" />
            <span asp-validation-for="Input.Password" class="text-danger"></span>
        </div>
        <div>
            <label asp-for="Input.ConfirmPassword"></label>
            <input asp-for="Input.ConfirmPassword" type="password" autocomplete="new-password" aria-required="true" />
            <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
        </div>
        <button id="registerSubmit" type="submit">Criar Conta</button>
        <div class="register-links">
            <a asp-page="./Login" asp-route-returnUrl="@Model.ReturnUrl">Já tem conta? Entrar</a>
        </div>
    </form>
</div>

@if ((Model.ExternalLogins?.Count ?? 0) > 0)
{
    <div class="register-external">
        <h3>Registar com outro serviço</h3>
        <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post">
            @foreach (var provider in Model.ExternalLogins!)
            {
                <button type="submit" name="provider" value="@provider.Name" title="Registar com @provider.DisplayName">@provider.DisplayName</button>
            }
        </form>
    </div>
}

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
